#featured-projects {
  position: relative;
  .featured-bg {
    display: grid;
  }
  .card {
    cursor: pointer;
    position: relative;
    background: map-get($colors, card-bg);
    border: 2px solid map-get($colors, box-border);
  }

  .watermark-brick {
    @include watermark;
    background: url(/images/bricks.png) no-repeat center center;
    background-size: contain;
  }

  .red {
    color: map-get($colors, red1);
  }

  .card-overlay {
    padding: 2rem;
    position: relative;
  }

  .iframe {
    height: 260px;
    width: 100%;
    background: map-get($colors, black25);
  }

  .video-box {
    height: auto;
    width: 100%;
    top: 0px;
    position: absolute;
    background: map-get($colors, black1);
  }

  .video-box-x {
    padding: 1rem 0rem 1.4rem 0.3rem;
    top: 0;
    margin: 2rem 2rem 2rem 1rem;
    left: 0;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: auto;
  }

  .line1,
  .line2 {
    position: absolute;
    background: map-get($colors, red1);
    border: none;
  }

  .line1 {
    transform: rotate(45deg);
  }

  .line2 {
    transform: rotate(135deg);
  }

  .btn-box {
    width: 100%;
  }

  .btn {
    margin: 2rem 1rem;
    transform: none;
  }
}
